.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown :global(.dropdown-icon) {
  position: absolute;
  top: 50%;
  right: 1px;
  pointer-events: none;
  transform: translateY(-50%);
}

.dropdown-select {
  border: 1px solid var(--colors-primary);
  border-radius: var(--border-radius-lg);
  padding: 10px 30px 10px 20px;
  color: var(--colors-font-base);
}
